<div class="homepage">
   <%= image_tag("Cross-Pattee-Heraldry.svg.png") %>
<h2>Squaw Valley Ski Patrol</h2>
<p>Training</p>
<%= link_to "Sign Up", "#", class: "ui-btn ui-btn-inline ui-corner-all ui-input-btn" %>
</div>

